fastapi
uvicorn
pydantic
pydantic-settings
sqlmodel
aiosqlite
feedparser
newspaper3k
requests
beautifulsoup4
lxml_html_clean
prettytable
apscheduler
twilio
python-dotenv
groq
python-jose[cryptography]
passlib[bcrypt]
python-multipart